"create-repo,/Users/antony7/GitHub/cecs343-VCS-01-JSTWIn/bot,,,"
EXECUTED : Tue Sep 15 2020 @ 21:41:12 GMT-0700 (Pacific Daylight Time)

P4086-L11-C2758.txt @ /Users/antony7/GitHub/cecs343-VCS-01-JSTWIn/bot/a/b/fred.txt
P0-L0-C1555.csv @ /Users/antony7/GitHub/cecs343-VCS-01-JSTWIn/bot/a/thisIsOK.csv
P0-L0-C3077.html @ /Users/antony7/GitHub/cecs343-VCS-01-JSTWIn/bot/bot/trickPathOK.html
P4528-L3560-C1317.js @ /Users/antony7/GitHub/cecs343-VCS-01-JSTWIn/bot/rootOK.js
