<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VCS ver 0.1</title>
    <link rel="stylesheet" href="sTyLeZ.css">
    <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
</head>
<html>
<header class="main-header">
    <h1>Welcome to VCS (v0.1)</h1>
</header>
    <header class="sub-header">
        <div><a href="authorsPage.html">Authors</a></div>
        <div><a href="/">Main</a></div>
        <div><a href="commandPage.html">Commands</a></div>
    </header>
<br>
<br>
<br>

<body>
    <header class = "authors">
        <div class="table">
            <h1>Authors</h1>
            <ul class="contact-list">
                <li class="cl-item"><b>J</b>acob Azevedo Jr.</li>
                <li class="cl-item"><b>S</b>tephanie Lim</li>
                <li class="cl-item"><b>T</b>ony Ha</li>
                <li class="cl-item"><b>W</b>illiam Duong</li>
            </ul>
        </div>
    </div>
</body>

</html>
