<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VCS ver 0.1</title>
    <link rel="stylesheet" href="sTyLeZ.css">
</head>
<html>
    <header class="main-header">
        <h1>Welcome to VCS (v0.1)</h1>
    </header>
    <header class="sub-header">
        <div><a href="authorsPage.html">Authors</a></div>
        <div><a href="landingPage.html">Main</a></div>
        <div><a href="helpPage.html">Help</a></div>
    </header>
    <br>
    <br>
    <br>
    <body>
        <div class="table">
            <ul class="contact-list">
                <li><b>J</b>acob Azevedo Jr.</li>
                <li><b>S</b>tephanie Lim</li>
                <li><b>T</b>ony Ha</li>
                <li><b>W</b>illiam Duong</li>
            </ul>
        </div>
    </body>

</html>