<!-- 
    Team members: 
    Jacob Azevedo Jr. - jacobazevedojr@gmail.com
    Stephanie Lim - hynglim@gmail.com
    Tony Ha - tony.ha@student.csulb.edu
    William Duong - wxduong@gmail.com
    
    Program Description: Display information of JSTWepo's commands. 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Commands</title>
    <link rel="stylesheet" href="sTyLeZ.css">
    <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
</head>

<header class="main-header">
    <h1>Welcome to JSTWepo (v2.0)</h1>
</header>
<header class="sub-header">
    <div><a href="authorsPage.html">Authors</a></div>
    <div><a href="/">Main</a></div>
    <div><a href="commandPage.html">Commands</a></div>
</header>
<br>
<br>
<br>

<body>
    <header class="commands">

        <h1>Commands</h1>
        <div id="create">
            <h2>create</h2>
            <p>Signature: <strong>create</strong> &lt;projectPath&gt; &lt;repositoryPath&gt;</p>
            <ul>
                <li>
                    The create command is used to initialize a repository with the current contents of the project
                </li>
                <ul>
                    <li>'.' files are ignored in repository creation, e.g. ".foo.txt", ".bar.html"</li>
                </ul>
                <li>
                    The repository will be initialized at the file path, "repositoryPath" under the repo folder ".JSTWepo"
                </li>
                <ul>
                    <li>Contained within the repository will be all relevant files (saved under their ArtifactID) and a .man/ folder, containing the newest manifest file (a "snapshot" of the current project)</li>
                </ul>
            </ul>
            <h4>Arguments</h4>
            <ul>
                <li>
                    projectPath
                </li>
                <ul>
                    <li>An absolute path to the project root directory that you wish to create a repository from</li>
                </ul>
                <li>
                    repositoryPath
                </li>
                <ul>
                    <li>An absolute path to the location of the newly created repository</li>
                </ul>
            </ul>
        </div>
        <div id="update">
            <h2>update</h2>
            <p>Signature: <strong>update</strong> &lt;projectPath&gt; &lt;repositoryPath&gt;</p>
            <ul>
                <li>
                    The create command is used to update a repository with the current contents of the project
                </li>
                <li>
                    The repository will not be updated if the repositoryPath does not contain a ".JSTWepo" folder.
                </li>
            </ul>
            <h4>Arguments</h4>
            <ul>
                <li>
                    projectPath
                </li>
                <ul>
                    <li>An absolute path to the project root directory that you wish to update the repository from</li>
                </ul>
                <li>
                    repositoryPath
                </li>
                <ul>
                    <li>An absolute path to the location of the repository</li>
                </ul>
            </ul>
        </div>
        <div id="log">
            <h2>log</h2>
            <p>Signature: <strong>log</strong> &lt;repositoryPath&gt;</p>
            <ul>
                <li>
                    The log command is used to visualize previous commits (including the create command) and the date/time when they were committed (in preparation for project roll-back capabilities).
                </li>
                <ul>
                    <li>
                        Output is displayed in browser
                    </li>
                </ul>
            </ul>
            <h4>Arguments</h4>
            <ul>
                <li>
                    repositoryPath
                </li>
                <ul>
                    <li>An absolute path to the location of a repository</li>
                </ul>
            </ul>
        </div>
        <div id="label">
            <h2>label</h2>
            <p>Signature: <strong>label</strong> &lt;repositoryPath&gt; &lt;manifestFileName&gt; &lt;label&gt; </p>
            <ul>
                <li>
                    The label command allows a user to rename a snapshot of a project with another name to allow for easy reference, and ease of use with the check-out command
                </li>
                <ul>
                    <li>
                        A label may be up to 20 characters with spaces included
                    </li>
                    <li>
                        There is no limit to the number of labels that can be mapped to a manifest file
                    </li>
                </ul>
            </ul>
            <h4>Arguments</h4>
            <ul>
                <li>
                    repositoryPath
                </li>
                <ul>
                    <li>An absolute path to the location of a repository</li>
                </ul>
                <li>
                    manifestFileName
                </li>
                <ul>
                    <li>The name of the manifest file (an existing label can be used as an alias)</li>
                </ul>
                <li>
                    label
                </li>
                <ul>
                    <li>A keyword alias for a manifest file</li>
                </ul>
            </ul>
        </div>
        <div id="rebuild"> 
            <h2>rebuild</h2>
            <p>Signature: <strong>rebuild</strong> &lt;repositoryPath&gt; &lt;rebuildPath&gt; &lt;label&gt;</p>
            <ul>
                <li>
                    The rebuild command is used to recreate a snapshot of a project in a specified location (the specified location is assumed to be an empty directory)
                </li>
            </ul>
            <h4>Arguments</h4>
            <ul>
                <li>
                    repositoryPath
                </li>
                <ul>
                    <li>An absolute path to the location of a repository</li>
                </ul>
                <li>
                    rebuildPath
                </li>
                <ul>
                    <li>An absolute path to the location where the project snapshot is to be rebuilt</li>
                </ul>
                <li>
                    label
                </li>
                <ul>
                    <li>A keyword alias for a manifest file (explict manifest file names also accepted)</li>
                </ul>
            </ul>
        </div>
    </header>
</body>

</html>
