<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VCS ver 0.1</title>
    <link rel="stylesheet" href="sTyLeZ.css">
</head>
<html>
    <header class = "main-header">
        <h1>Welcome to VCS (v0.1)</h1>
    </header>
    <header class = "sub-header">
        <div><a href="authorsPage.html">Authors</a></div>
        <div><a href="landingPage.html">Main</a></div>
        <div><a href="helpPage.html">Help</a></div>
    </header>
    <br>
    <body>
        <div class = "div-form">
            <form action= "/executeCMD" method="POST">
                <!-- NOTE: 'name' WITHIN INPUT TAG DESIGNATES A KEY, WITH THE VALUE BEING USER INPUT -->
                <input size = 75 type = "text" id="input_text_field1" name="input_field_cmd" />
                <input type = "submit" value = "EXECUTE" />
            </form>
        </div>
    </body>
</html>