<!DOCTYPE html>
<html lang="en">

<head>
    <link href="sTyLeZ.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>VCS ver 0.1</title>
</head>
<html>
<header class="main-header">
    <h1>Welcome to VCS (v0.1)</h1>
</header>
<header class="sub-header">
    <form action="/authorsPage" method="GET"><input type="submit" value="Authors" /></form>
    <form action="/landingPage" method="GET"><input type="submit" value="Main" /></form>
    <form action="/helpPage" method="GET"><input type="submit" value="Help" /></form>
</header><br>

<body>
    <canvas id="CLI">Your browser does not support HTML5</canvas>
    <script src="controller/console.js"></script>

    <div class="div-form">
        <form action="/executeCMD" method="POST">
            <!-- NOTE: 'name' WITHIN INPUT TAG DESIGNATES A KEY, WITH THE VALUE -->
            <!-- BEING USER INPUT --><input size=75 type="text" id="input_text_field1" name="input_field_cmd" /><input type="submit" value="EXECUTE" />
        </form>
    </div>
</body>

</html>
