body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main-header {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(90, 1, 192);

    color: rgb(255, 255, 255);
    justify-content: center;
}

.sub-header {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(90, 1, 192);

    color: rgb(255, 255, 255);
    justify-content: space-evenly;
}

.proxy-console {
    padding: 2rem;
    border: 5px outset rgb(90, 1, 192);
    background-color: rgb(50, 61, 65);
    color: white;
}

.okFiles-list {
    list-style: none;
}

.div-form {
    display: block;
    text-align: center;
}

.commands {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(90, 1, 192);
}

h1 {
    text-align: center
}
h2 {
    text-align: center
}
h3 {
    text-align: center
}

p {
    text-align: center
}


a {
    text-decoration: none;
    color: white;
    font-size: smaller;
}

a:hover,
a:active,
a.active {
    color: #ffeb3b;
}

.table {
    display: table;
    margin: auto;
}

.contact-list {
    list-style: none;
}

.cl-item {
    display: inline;
    margin: 2.5rem;
    font-size: larger;
    color:rgb(0, 139, 139);
}