body {
    padding: 0;
    margin: 0;
    font-family: 'Antic';
    background: url('purple sunset.gif');
    Overflow-y: scroll;
}

.main-header {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(rgba(7, 0, 15, 0.7), rgba(48, 0, 102, 0.7));
    color: rgb(255, 255, 255);
    justify-content: center;
}

.sub-header {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 3rem;

    font-size: 25px;
    background-image: linear-gradient(rgba(48, 0, 102, 0.7), rgba(48, 0, 102, 0.5), rgba(255, 0, 0, 0));
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
}

.proxy-console {
    padding: 2rem;
    border: 5px outset rgb(90, 1, 192);
    background-color: rgb(50, 61, 65);
    color: white;
}

.okFiles-list {
    list-style: none;
}

.div-form {
    display: block;
    text-align: center;
}

.commands {
    width: 850px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 5px solid white;
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

p {
    text-align: center
}


a {
    text-decoration: none;
    color: white;
    font-size: smaller;
}

a:hover,
a:active,
a.active {
    color: white;
}

.table {
    display: table;
    margin: auto;
}

.authors {
    width: 850px;
    margin: 0 auto;
    color: white;
    padding: 0 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid white;
}

.contact-list {
    list-style: none;
    padding: 5px;
}

.cl-item {
    display: inline-block;
    margin: 2.5rem;
    font-size: larger;
    color: white;

}
